#bar_body {
    background-color: #087393a0;
    position: relative;
    top: 0px;
    height: 55px;
    >* {
        height: 55px;
    }

    #r-bar {
        right: 0px;
    }

    #l-bar {
        left: 0px;
    }

    #r-bar, #l-bar {
        margin-top: 7px;
        position: absolute;
        top: 0px;
        width: 50%;

        button {
            position: relative;
            padding: 7px;
            margin: -2px;
            font-size: 0.9em;
            bottom: 20px;
            height: 100%;
            border-right: 3px solid #33333365;
        }

        button:hover {
            background-color: #cecece20;
        }

        #home-icon {
            margin-left: 7px;
            margin-right: 7px;
            bottom: 7px;
            border-right: none;
        }
    }
}