* {
    overflow: hidden;
}

body {
    color: #ffffff;
    background-color: #000000;
    width: 100vw;
    height: 100vh;
}

#Help {
    position: fixed;
    bottom: 0px;
}

#Grid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(16px, 1fr));
}


.snake {
    background-color: #aaaaaa;
}

.apple {
    background-color: #00ff00;
    content: "@";
}

.wall {
    background-color: #555555;
    border: 3px solid #777777;
    content: "#";
}

.kill {
    background-color: #ff0000;
    content: "X";
}

.jump {
    background-color: #0000ff;
}

#Head {
    background-color: #999999;
    text-align: center;
}

#settings {
    overflow: scroll;
    background-color: #aaffff1a;
    width: min-content;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 10px;
    visibility: hidden;
}

input {
    background-color: #00000000;
    color: #ffffff;
}

button {
    background-color: #ffffff3b;
}

.score {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
}

#debug {
    visibility: hidden;
    position: fixed;
    top: 5em;
    left: 10px;
    background-color: #00ffff1a;
    padding: 10px;
    overflow: scroll;
    height: 80%;
    width: max-content;
}

.px {
    display: inline-flex;
    height: 16px;
    width: 16px;
    border: 1px solid #ffffff34;
}
