* {
    background: transparent;
    border: none;
    box-sizing: border-box;
    overflow: hidden;
    color: #ffffff;
}

iframe {
    padding: 0;
    margin: 0;
}

button {
    padding: 1px;
    margin: 0px;
}

#bar_body {
    display: block;
    margin-top: 10px;
    border-radius: 7px;
}

#page {
    position: relative;
    width: 99vw;
    height: 93vh;
}

#version {
    color: #303030;
    padding: 3px;
}