* {
    background: transparent;
    border: none;
    box-sizing: border-box;
}

body{
    background-color:#0087a6;
}

iframe {
    padding: 0;
    margin: 0;
}

button {
    padding: 1px;
    margin: 0px;
}

#bar {
    width: 100%;
    height: 58px;
    padding: 7px;
    overflow: hidden;
    background-color: #ffffff30;
}