* {
    background: transparent;
    border: none;
    box-sizing: border-box;
    overflow: hidden;
    color: #ffffff;
}

body {
    background-color: #0087a6;
    background-image: url("../img/background/NWT-1.png");
    background-size: cover;
    background-position: center;
}

iframe {
    padding: 0;
    margin: 0;
}

button {
    padding: 1px;
    margin: 0px;
}

#share {
    background-image: url("../img/icons/share.png");
    background-color: #55555555;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    position: fixed;
    width: 43px;
    height: 43px;
    bottom: 10px;
    right: 10px;
}

#bar_body {
    display: block;
    margin-top: 10px;
    border-radius: 7px;
}

#page {
    position: relative;
    width: 99vw;
    height: 93vh;
}

#version {
    color: #303030;
    padding: 3px;
}